<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp230604"
        android:windowSoftInputMode="adjustNothing"
        tools:targetApi="31">
        <activity android:name="MyApp"/>
        <activity
            android:name=".notice_edit"
            android:exported="false" />
        <activity
            android:name=".recycle_video"
            android:exported="false" />
        <activity
            android:name=".mainActivity_m"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".board_writing"
            android:exported="false" />
        <activity
            android:name=".check_video"
            android:exported="false" />
        <activity
            android:name=".signup_user"
            android:exported="false" />
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"/>
        <activity
            android:name=".DetailActivity_m"
            android:exported="false"/>
        <activity
            android:name=".noticeDetail"
            android:exported="false"/>
        <activity
            android:name=".mainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Login_User"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>